{
  "swagger": "2.0",
  "info": {
    "title": "Azure KeyManager DKE API",
    "version": "1.0",
    "contact": {
      "name": "Thales CPL",
      "url": "https://dke.azure.dpondemand.io"
    }
  },
  "host": "dke.azure.dpondemand.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{key_name}": {
      "get": {
        "summary": "Gets the public key",
        "operationId": "GetPublicKey",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1PublicKeyResponse"
            }
          },
          "400": {
            "description": "Invalid key",
            "schema": {}
          },
          "403": {
            "description": "Permission denied",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "key_name",
            "description": "Required. Key Name\ne.g. `TestKey1`.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AzureDKEKeyManagementService"
        ]
      }
    },
    "/{key_name}/{key_id}/decrypt": {
      "post": {
        "summary": "Decrypts using the private key. Credentials need to be provided via the\nAuthorization header with the Bearer JWT token.",
        "operationId": "Decrypt",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DecryptResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {}
          },
          "401": {
            "description": "Unauthorized",
            "schema": {}
          },
          "403": {
            "description": "Permission denied",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "key_name",
            "description": "Required. Name of the key\ne.g. `TestKey1`.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "key_id",
            "description": "Required. The identifier of the key\n(as provided by [AzureDKEKeyManagementService.GetKey][])\ne.g.\n`D798B899-3350-4F5C-A608-2EDA37CB0EBD`",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1DecryptRequest"
            }
          }
        ],
        "tags": [
          "AzureDKEKeyManagementService"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "PublicKeyResponseKey": {
      "type": "object",
      "properties": {
        "kty": {
          "type": "string",
          "title": "Key type"
        },
        "n": {
          "type": "string",
          "title": "Key"
        },
        "e": {
          "type": "integer",
          "format": "int32",
          "title": "Key exponent (typically 65537)"
        },
        "alg": {
          "type": "string",
          "title": "Algorithm"
        },
        "kid": {
          "type": "string",
          "title": "Key ID"
        }
      },
      "title": "Key information"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1DecryptRequest": {
      "type": "object",
      "properties": {
        "key_name": {
          "type": "string",
          "description": "Required. Name of the key\ne.g. `TestKey1`."
        },
        "key_id": {
          "type": "string",
          "title": "Required. The identifier of the key\n(as provided by [AzureDKEKeyManagementService.GetKey][])\ne.g.\n`D798B899-3350-4F5C-A608-2EDA37CB0EBD`"
        },
        "alg": {
          "type": "string",
          "title": "Required. Algorithm\ne.g. `RSA-OAEP-256`"
        },
        "value": {
          "type": "string",
          "title": "Required. Encrypted value, base64 encoded"
        }
      },
      "description": "Decrypt using the private key. The encrypted text must have been encrypted\nusing the private key."
    },
    "v1DecryptResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "byte",
          "title": "The decrypted data, base64 encoded"
        }
      },
      "description": "Response message for [AzureDKEKeyManagementService.Decrypt][]."
    },
    "v1PublicKeyResponse": {
      "type": "object",
      "properties": {
        "key": {
          "$ref": "#/definitions/PublicKeyResponseKey",
          "title": "The key"
        }
      },
      "description": "Response message for [AzureDKEKeyManagementService.GetPublicKey][]."
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "oauth2",
      "name": "Authorization",
      "in": "header",
      "flow": "application",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize"
    }
  }
}
